.sidebar{
    display:flex;
    flex-direction:column;
    width:250px;
    height:100vh;
    padding-top:2rem;
    z-index:1;
    background-color: white;
    transition: transform 0.2s ease-in;
}
.sidebar li{
    list-style-type:none;
    padding:0.5rem;
    display:flex;
    align-items:center;
    padding-left:1rem;
    margin:0.2rem 0;
    cursor:pointer;
}

.sidebar span{
    margin-left:1rem;
    font-size:14px;
    font-weight:500;
    letter-spacing:0.4px;
}

.sidebar li:hover{
background-color:#ddd;
}
.sidebar hr{
    width:250px;
    color:#ddd;
}

.sidebar.open{
    transform: translateX(0);
}

.sidebar{
    transform: translateX(-100%);
    position:fixed;
    /* z-index:999; */

}


@media screen and (max-width: 50px){
    .sidebar{
     width:90px;
    }
   li{
    justify-content:center;
   }

   span{
    display: none;
   }
 }
   
 @media screen and (max-width: 200px){
    .sidebar{
        display:none;
    }
 }